.search {
  width: 460px;
  border: 1px solid #000;

  &__header {
    padding: 20px;
    border-bottom: 1px solid #000;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
}
